/* import fonts from Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

/* Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  background-image: url(/img/image_geometry_1.svg);
  background-repeat: no-repeat;
  color: #1a2236;
}

/* Header section */

.header {
  display: flex;
  justify-content: flex-end;
}

.mobile_menu_btn {
  position: fixed;
  margin-top: 19px;
  margin-right: 16px;
  right: 0;
}

/* Headline Section */

#headline_section {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin-left: 16px;
  font-size: 50px;
}

.headline_description {
  font-family: Poppins, sans-serif;
  margin-top: 20px;
  margin-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 288px;
  height: 126px;
}

.headline_btn {
  color: #fff;
  background-color: #1a2236;
  margin-top: 52px;
  width: 288px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-left: 16px;
}

#headline_section img {
  width: 320px;
  height: 160px;
  margin-top: 30px;
}
